body {
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: red;
    color: red;
}

h1, h2, h3 {
    margin: 0;
}

#container {
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #56af36;
    color: black;
    text-align: center;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#content {
    padding: 10px;
    background-color: #c6c6b0;
}

#nav {
    width: 180px;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav .selected {
    font-weight: bold;
}

#main {
    width: 600px;
    float: right;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}

.selected {
    text-decoration: underline;
    text-decoration-color: black;
    padding: 5px;
}